body {
  background: black;
  color: white;
  white-space: pre;
  font-family: monospace;
}

body pre:last-of-type:not(.per)::after {
  content: '|';
}

pre:not(.per)::before {
  content: '> ';
}

.per::after {
  content: '%'
}

.dia {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: skyblue;
}

.ff {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  padding: 0.3em;
  border-bottom-left-radius: 1em;
}

.ff.on {
  font-style: italic;
}

.shake {
  animation: shake 1s;
}

img:not(.devmode) {
  animation: appear 0.5s;
}

@keyframes appear {
  from {
    position: absolute;
    left: -100%
  }
  to {
    position: absolute;
    left: 0;
  }
}

/* only trick that works */

progress::after {
  content: attr(value) '%';
  position: absolute;
  left: 11em;
}
